body, h1, h2, h3, p, ul, ol, li {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0; /* Added to ensure no default margin on body */
}

/* Container styles */
.container legend {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Buttons styles */
.group-buttons, .print-section {
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #8bc819; /* Changed button background color */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left:20px;
}

.btn:hover {
    background-color: #699617; /* Darker color on hover */
}



/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
}

/* Adjusted table section styles */
.attendance-table {
    width: 48%; /* Adjusted width for better alignment */
    float: left;
    margin-right: 4%; /* Added margin between tables */
}

.absence-table {
    width: 48%; /* Adjusted width for better alignment */
    float: right;
}

/* Make first row in thead green */
thead tr:first-of-type th {
    background-color: #8bc819; /* Changed table header background color */
    color: #fff;
}
