body, h1, h2, h3, p, ul, ol, li {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0; /* Added to ensure no default margin on body */
}
.container legend {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.control-label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 40px);
    height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #b8b6b5;
    outline: none;
}

select {
    width: calc(100% - 20px);
    height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: border-color 0.3s;
}

select:focus {
    border-color: #b8b6b5;
    outline: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8bc819;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #6a9618;
}

.center {
    text-align: center;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

